<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">

<style>
/* body
{
    background: url('https://scontent.fkul13-1.fna.fbcdn.net/v/t1.0-9/32959162_1922170017834197_3688626451923337216_o.jpg?_nc_cat=106&oh=cf50f68d49fa5cfecc7a85b1be3b4bc4&oe=5C5E4B49') fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container
{
  position : relative;
  top: 250px;

}


*/
</style>
<title> GTPJ </title>
<body>
  <div class="container">
      <div class="row justify-content-center">
      	<div class="col-md-4 col-md-offset-10">
      		<div class="panel panel-default">
  			  	<div class="panel-heading">
  			    	<h3 class="panel-title">Please sign in</h3>
  			 	</div>
  			  	<div class="panel-body">
  			    	<form accept-charset="UTF-8" role="form">
                      <fieldset>
                  <form method ="post">
                    {% csrf_token %}
  			    	  	<div class="form-group">
  			    		    <input class="form-control" placeholder="E-mail" name="email" type="text">
  			    		</div>
  			    		<div class="form-group">
  			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
  			    		</div>
  			    		<div class="checkbox">
  			    	    	<label>
  			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
  			    	    	</label>
  			    	    </div>
  			    		<input class="btn btn-lg btn-success btn-block" type="submit">
              </form>
  			    	</fieldset>
  			      	</form>
  			    </div>
  			</div>
  		</div>
  	</div>
  </div>
</body>
