#logo{
  position:relative;
  top:-10px;
  width:210;
  height:80;
}

.navbar{
  height:100px;
  text-align:center;
}

.navbar ul{
  padding-top: 20px;
  color: #FFFFFF;
  font-size:18px;
}

.row{
  position: relative;
  top: 5000px;
}
