#logo{
  position:relative;
  top:-10px;
  width:210;
  height:80;
}

.navbar{
  height:100px;
  text-align:center;
}

.navbar ul{
  padding-top: 20px;
  color: #FFFFFF;
  font-size:18px;
}

.box{
  position: absolute;
  left:50%;
  top:50%;
  margin:250px auto;
}

body{
     background-color:#DCDCDC;
}
