{% load static %}
body
{
    background: url("/static/images/login_page_background.jpg") fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
  position : relative;
  top: 250px;

}
